.outerDiv
    display: inline-block
    width: 100px
    height: 100px
    border: solid 2px gray
    margin: 2px
    text-align: center
    background-color: whitesmoke
    box-sizing: border-box

#box
    margin-top: 20px
    width: 456px
    border: solid 1px transparent